body {
    font-family: Arial, Helvetica, sans-serif;
}

.exercises {
    display: none;
}

.exercises.active {
    display: block;

}

ul li {
    list-style: none;
}

.myBooks {
    display: none;
} 

.myBooks.active {
    display: block;
}